[submodule "dollar"]
	path = dollar
	url = git@github.com:not--p/dollar.git
[submodule "gold"]
	path = gold
	url = git@github.com:not--p/gold.git
[submodule "oil"]
	path = oil
	url = git@github.com:not--p/oil.git
